<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845855036415-qljt203lpj7qanopivaa7n3nmtpirjqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845855036415-qljt203lpj7qanopivaa7n3nmtpirjqe</string>
	<key>API_KEY</key>
	<string>AIzaSyBtcBZIOWu0UFSMZTA-3SA4KRsNKUD2nwo</string>
	<key>GCM_SENDER_ID</key>
	<string>845855036415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.PrimalApp2</string>
	<key>PROJECT_ID</key>
	<string>primal-67078</string>
	<key>STORAGE_BUCKET</key>
	<string>primal-67078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845855036415:ios:5d5db5d8fc19a7ae534dca</string>
</dict>
</plist>